* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--figtree);
    font-size: 1em;
    cursor: default;
}

body {
    background-color: var(--yellow);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

article.container {
    background-color: var(--white);
    border: 1px solid var(--gray-dark);
    border-radius: 20px;
    padding: 24px;
    max-width: 327px;
    width: 90%;
    box-shadow: #000000 7px 7px;
}

.card__image img {
    border-radius: 10px;
    margin-bottom: 24px;
    width: 100%;
}

header.header__card {
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    font-size: 0.75em;
    font-weight: 500;
    color: var(--gray-dark);
}

header.header__card .user__process {
    background-color: var(--yellow);
    width: 73px;
    border-radius: 4px;
    font-weight: bolder;
    padding: 4px 12px;
    margin-bottom: 12px;
}

section.text__card {
    margin-bottom: 24px;
}

section.text__card .text__title a {
    text-decoration: none;
    font-size: 1.25em;
    font-weight: bolder;
    color: var(--gray-dark);
    transition: .2s;
    cursor: pointer;
}

section.text__card .text__title a:hover {
    color: var(--yellow);
    letter-spacing: 0.3px;
}

section.text__card .text__paragraph {
    margin-top: 12px;
    font-size: 0.87em;
    font-weight: 500;
    color: var(--gray-light);
}

footer.user__profile {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1em;
}

footer.user__profile .user__picture img {
    width: 32px;
    margin-right: 5.5px;
}

footer.user__profile .user__name a {
    text-decoration: none;
    color: var(--gray-dark);
    cursor: pointer;
    transition: .2s;
}

footer.user__profile .user__name a:hover {
    text-decoration: underline;
    letter-spacing: 0.15px;
}

.attribution {
    font-size: 11px;
    text-align: center;
    position: fixed;
    bottom: 10px; /* Ajuste conforme necessário */
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    cursor: pointer;
}

@media (min-width: 1024px) {
    article.container {
        width: 20%;
        max-width: 400px;
    }
}